@media (max-width: 991px)
  .container
    max-width: 700px

  .header
    .nav
      display: none
      &__link
        &--active
          background-color: $color-light
    .mmenu
      display: block
    &__links
      margin-right: 6rem

  .intro
    padding-top: 4rem
    &-wrapper
      padding: 0 2.5rem
    &__item
      padding: 20rem 5rem 5rem

    &__tag
      margin-bottom: 2.5rem
    &__title
      max-width: 100%
    &__text
      max-width: 100%
      margin-bottom: 2rem

    .owl-carousel
      .owl-nav
        button
          top: calc(50% - 2.5rem)
          height: 5rem
          width: 5rem
          i
            line-height: 5rem
            font-size: 2.2rem

  .product
    padding: 4rem 0
    .shows
      width: 100%
      &__item
        width: 47.5%

    .sidebar
      display: none

  .footer
    padding: 5rem 0 2.5rem
    &-wrapper
      flex-direction: column
      align-items: center
      text-align: center
    .logo
      width: 100%
    &__logo
      margin-bottom: 2rem
    &__list
      width: 100%
      justify-content: center
      margin-bottom: 2rem
    .copyright
      width: 100%

  .hero
    padding: 8rem 0
    &__title
      margin-bottom: 1.5rem
      font-size: 4.4rem
    &__text
      font-size: 2.2rem
